{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Penugasan</h2>
    <p>Menampilkan daftar acara</p>
    <div class="table-responsive">
        <table class="table" id="tabelAcara">
            <thead>
            <tr>
                <th>No</th>
                <th>Petugas</th>
                <th>Tanggal mulai</th>
                <th>Tanggal akhir</th>
                <th>Stasiun</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-default" onclick="updateFunc()">Update</button>
                    <button type="button" class="btn btn-default" onclick="deleteFunc()">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelPenugasan').dataTable();
});

function deleteFunc() {
  alert("The station will be deleted!");
}

function updateFunc(){
    alert("The station will be updated!");
}
</script>

{% endblock %}
