{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Penambahan Penugasan</h2>
    <p>Tambahkan penugasan baru</p>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <label for="petugas">Petugas</label>
            <select multiple class="form-control" id="petugas">
                <option>Petugas 1</option>
                <option>Petugas 2</option>
                <option>Petugas 3</option>
                <option>Petugas 4</option>
                <option>Petugas 5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tanggalMulai">Tanggal Mulai</label>
            <input type="datetime" class="form-control" id="tanggalMulai">
        </div>
        <div class="form-group">
            <label for="tanggalSelesai">Tanggal Selesai</label>
            <input type="date" class="form-control" id="tanggalMulai">
        </div>
        <div class="form-group">
            <label for="stasiun">Stasiun</label>
            <select multiple class="form-control" id="stasiun">
                <option>Stasiun 1</option>
                <option>Stasiun 2</option>
                <option>Stasiun 3</option>
                <option>Stasiun 4</option>
                <option>Stasiun 5</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </form>
</div>

{% endblock %}