{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Penambahan Acara</h2>
    <p>Tambahkan acara baru</p>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label for="judulAcara">Judul</label>
            <input type="text" class="form-control" id="judulAcara" placeholder="Masukkan judul acara">
        </div>
        <div class="form-group">
            <label for="deskripsiAcara">Deskripsi</label>
            <input type="text" class="form-control" id="deskripsiAcara" placeholder="Masukkan deskripsi acara">
        </div>
        <div class="form-group">
            <label for="acaraIsGratis">Gratis</label>
            <select class="form-control" id="acaraIsGratis">
                <option>Ya</option>
                <option>Tidak</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tanggalMulai">Tanggal Mulai</label>
            <input type="date" class="form-control" id="tanggalMulai">
        </div>
        <div class="form-group">
            <label for="tanggalSelesai">Tanggal Selesai</label>
            <input type="date" class="form-control" id="tanggalMulai">
        </div>
        <div class="form-group">
            <label for="stasiun">Stasiun</label>
            <select multiple class="form-control" id="stasiun">
                <option>Stasiun 1</option>
                <option>Stasiun 2</option>
                <option>Stasiun 3</option>
                <option>Stasiun 4</option>
                <option>Stasiun 5</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
