{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Acara</h2>
    <p>Menampilkan daftar acara</p>
    <div class="table-responsive">
        <table class="table" id="tabelAcara">
            <thead>
            <tr>
                <th>No</th>
                <th>Judul</th>
                <th>Deskripsi</th>
                <th>Tanggal mulai</th>
                <th>Tanggal akhir</th>
                <th>Is free</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Ulang tahun sharebike</td>
                <td>Game-game</td>
                <td>15 April 2019</td>
                <td>15 April 2019</td>
                <td>Ya</td>
                <td>
                    <button type="button" class="btn btn-default">Update</button>
                    <button type="button" class="btn btn-default">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelAcara').dataTable();
});
</script>

{% endblock %}
