{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Stasiun</h2>
    <p>Menampilkan daftar voucher</p>
    <div class="table-responsive">
        <table class="table" id="tabelVoucher">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Langitude</th>
                <th>Latidur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-default" onclick="updateFunc()">Update</button>
                    <button type="button" class="btn btn-default" onclick="deleteFunc()">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelStasiun').dataTable();
});

function deleteFunc() {
  alert("The station will be deleted!");
}

function updateFunc(){
    alert("The station will be updated!");
}

{% endblock %}
