{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Update Stasiun</h2>
    <p>Update stasiun yang tersedia</p>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label for="namaStasiun">Nama</label>
            <input type="text" class="form-control" id="namaStasiun" placeholder="Masukkan nama stasiun">
        </div>
        <div class="form-group">
            <label for="alamatStasiun">Alamat</label>
            <input type="text" class="form-control" id="alamatStasiun" placeholder="Masukkan alamat stasiun">
        </div>
        <div class="form-group">
            <label for="latitudeStasiun">Latitude</label>
            <input type="number" class="form-control" id="latitudeStasiun" placeholder="Masukkan latitude stasiun">
        </div>
        <div class="form-group">
            <label for="longitudeStasiun">Longitude</label>
            <input type="number" class="form-control" id="longitudeStasiun" placeholder="Masukkan longitude stasiun">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </form>
</div>

{% endblock %}