{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Penambahan Voucher</h2>
    <p>Tambahkan voucher baru</p>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <label for="namaVoucher">Nama</label>
            <input type="text" class="form-control" id="namaVoucher" placeholder="Masukkan nama voucher">
        </div>
        <div class="form-group">
            <label for="kategoriVoucher">Kategori</label>
            <input type="text" class="form-control" id="kategoriVoucher" placeholder="Masukkan kategori voucher">
        </div>
        <div class="form-group">
            <label for="poinVoucher">Nilai Poin</label>
            <input type="number" class="form-control" id="poinVoucher" placeholder="Masukkan nilai poin voucher">
        </div>
        <div class="form-group">
            <label for="deskripsiVoucher">Deskripsi</label>
            <input type="text" class="form-control" id="deskripsiVoucher" placeholder="Masukkan deskripsi voucher">
        </div>
        <div class="form-group">
            <label for="jumlahVoucher">Jumlah</label>
            <input type="number" class="form-control" id="jumlahVoucher" placeholder="Masukkan jumlah voucher">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
