{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Voucher</h2>
    <p>Menampilkan daftar voucher</p>
    <div class="table-responsive">
        <table class="table" id="tabelVoucher">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Kategori</th>
                <th>Nilai Poin</th>
                <th>Deskripsi</th>
                <th>Diklaim oleh</th>
                <th>Action [Admin]</th>
                <th>Action [Anggota]</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-default" onclick="updateFunc()">Update</button>
                    <button type="button" class="btn btn-default" onclick="deleteFunc()">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default" onclick="claimFunc()">Claim</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelVoucher').dataTable();
});

function deleteFunc() {
  alert("The voucher will be deleted!");
}

function updateFunc(){
    alert("The voucher will be updated!");
}

function claimFunc(){
    alert("The voucher will be claimed!");
}
</script>

{% endblock %}
