{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Update Voucher</h2>
    <p>Update voucher yang tersedia</p>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <label for="namaUpdate">Nama</label>
            <input type="text" class="form-control" id="namaUpdate" placeholder="Masukkan nama voucher">
        </div>
        <div class="form-group">
            <label for="kategoriUpdate">Kategori</label>
            <input type="text" class="form-control" id="kategoriUpdate" placeholder="Masukkan kategori voucher">
        </div>
        <div class="form-group">
            <label for="poinUpdate">Nilai Poin</label>
            <input type="number" class="form-control" id="poinUpdate" placeholder="Masukkan nilai poin voucher">
        </div>
        <div class="form-group">
            <label for="deskripsiUpdate">Deskripsi</label>
            <input type="text" class="form-control" id="deskripsiUpdate" placeholder="Masukkan deskripsi voucher">
        </div>
        <div class="form-group">
            <label for="jumlahUpdate">Jumlah</label>
            <input type="number" class="form-control" id="jumlahUpdate" placeholder="Masukkan jumlah voucher">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </form>
</div>

{% endblock %}
